# ===== Backend Framework =====
fastapi==0.123.4
uvicorn==0.38.0

# ===== Database =====
pymongo==4.15.5

# ===== Core ML =====
numpy==1.26.4
tensorflow==2.17.0
keras==3.13.2
ml-dtypes==0.3.2

# ===== Computer Vision =====
opencv-python==4.10.0.84
mtcnn==1.0.0
insightface==0.7.3
onnx==1.16.1
onnxruntime==1.17.3

# ===== PyTorch / Engagement =====
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
ultralytics==8.2.103

# ===== Data & Analytics =====
pandas==2.2.3
scikit-learn==1.5.2
statsmodels==0.14.2
matplotlib==3.9.2
pytz==2024.1

# ===== Utilities =====
tqdm==4.66.5
requests==2.32.3