#requirements-ai.txt
# TensorFlow stack
tensorflow==2.17.0

# Computer Vision
opencv-python==4.10.0.84
mtcnn==1.0.0

# Face embeddings
insightface==0.2.1
onnx==1.16.1
onnxruntime==1.19.2

# Engagement models
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
ultralytics==8.2.103

# NLP
transformers==4.41.2
sentence-transformers==2.7.0